.artist-wrapper img {
    max-width: 300px;
}
.artist-container p {
    text-align: justify;
}
.artist-container {
    margin:auto;
}

@media screen and (max-width: 1600px) {
    .artist-wrapper img {
        max-width: 300px;
    }
    .artist-container {
        max-width: 80%;
    }
}
@media screen and (max-width: 950px) {
    .artist-wrapper img {
        max-width: 200px;
    }
    .artist-container {
        max-width: 70%;
    }
}
@media screen and (max-width: 700px) {
    .artist-wrapper img {
        max-width: 150px;
    }
    .artist-container  {
        max-width: 60%;
    }
}